.App {
    text-align: center;
    background-color: rgb(218, 226, 226);
}

.label {
    display: block;
    padding: 8px;
}

.btn {
    background-color: rgb(4, 4, 4);
    color:rgb(228, 225, 225);
    cursor: pointer;
    display: block;
    padding: 4px;
    margin: 8px auto;
    border-radius: 4px;
}

.messages {
    display: flex;
    justify-content: center;
}

.error {
    display: block;
    color: crimson;
    width: fit-content;
    padding: 4px;
    height: 60px;
}

.success {
    display: block;
    color: rgb(14, 170, 14);
    width: fit-content;
    padding: 4px;
    height: 60px;
}